<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>
    <div id="amazon-root"></div>
<script type="text/javascript">

  window.onAmazonLoginReady = function() {
    amazon.Login.setClientId('amzn1.application-oa2-client.99f5e6c6abba4901a65fa39434b063ad');
  };
  (function(d) {
    var a = d.createElement('script'); a.type = 'text/javascript';
    a.async = true; a.id = 'amazon-login-sdk';
    a.src = 'https://api-cdn.amazon.com/sdk/login1.js';
    d.getElementById('amazon-root').appendChild(a);
  })(document);

</script>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
         <li><%= link_to "Home",root_path%></li>
         <li>  <%= link_to "About",about_path%></li>
         <a href="#" id="LoginWithAmazon">
           <img border="0" alt="Login with Amazon"
             src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
             width="156" height="32" />
         </a>
         <script type="text/javascript">

  document.getElementById('LoginWithAmazon').onclick = function() {
    options = { scope : 'profile' };
    amazon.Login.authorize(options, 'https://www.opi9.com/handle_login.php');
    return false;
  };

</script>


         <% if user_signed_in? %>
         <li> <%= link_to new_pin_path do %>
           <span class="glyphicon glyphicon-plus"></span>New Pin
          <% end %>
        </li>



        </script>

          <li> <%= link_to "Account settings", edit_user_registration_path %></li>
          <li>  <%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li> <%= link_to "Signin", new_user_session_path %></li>
          <% end %>
      </ul>
    </div>  <!--navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
